body{
    background-color: blue;
}
h1{
    text-align: center;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: red;
    text-align: center;
}
#home{
    font-size: 60px;
    padding: 12px;
    color: yellow;
    background-color: blue;
}

#link{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.abt{
    font-size: 40;
    color: red;
}
.contact{
    text-align: center;
}